body{
 font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}

.location{
  font-size: 1.2em;
  font-weight: 300;
}

.nav-bar{
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1em 0.8em;

}
